@import url('https://fonts.googleapis.com/css?family=Chivo:400,700');

.clearfix {
    clear: both;
}

body {
    font-family: 'Chivo', sans-serif;
    color: #003300;
}

a {
    outline: 0;
}

h1.page-title {
    font-weight: bold;
    font-size: 26px;
}

.content-container {
    width: 950px;
    margin: 114px auto 0 auto;
}

.SearchFood {
    margin-bottom: 30px;
}

.SearchFood h1 {
    display: inline-block;
    margin-right: 15px;
}

.SearchFood input {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 36px;
    width: 70%;
    position: relative;
    bottom: 2px;
    padding: 0 15px;
}

.SearchFood input:focus {
    border-color: #08ae23;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.SearchFood input {
    width: 50%;
}

.SearchResults__error {
    margin-top: 60px;
    text-align: center;
}

.FoodsPanel__tabs {
    margin-bottom: 26px;
}

.FoodsPanel__tabs span {
    padding: 0 10px 4px 10px;
    margin-right: 34px;
    font-size: 17px;
    cursor: pointer;
}

.FoodsPanel__tabs span.current {
    font-weight: bold;
    border-bottom: 4px solid #08ae23;
}

.FoodsPanel__tabs--createFoodButton {
    text-transform: lowercase;
    margin-left: 14px;
    margin-right: 0;
    display: none;
}

span.small-button {
    padding: 4px 10px 4px 10px;
    font-size: 14px;
    font-weight: normal;
    color: #eeeeee;
    cursor: pointer;
    background: #308bdf;
    border-radius: 2px;
}

.small-button:hover {
    text-decoration: underline;
}

span.FoodsPanel__tab--createFoodButton.current {
    display: inline-block;
    font-weight: normal;
    border: none;
    margin-right: 34px;
}

span.FoodsPanel__tab--createFoodButton {
    text-transform: lowercase;
    margin-left: 14px;
    margin-right: 0;
    display: none;
}

span.FoodsPanel__edit-foods {
    padding: 0;
    margin: 0 20px 0 0;
    color: #c22317;
    border-bottom: 0px solid #D9291C;
    font-size: 15px;
    display: none;
}

span.FoodsPanel__edit-foods.current {
    display: inline-block;
    font-weight: normal;
    border-bottom: 0px solid #D9291C;
}

span.FoodsPanel__edit-foods:hover {
    border-bottom-width: 1px;
    color: #D9291C;
}

span.FoodsPanel__edit-foods.current.edit-mode {
    font-size: 15px;
    color: #003300;
    padding: 6px 24px;
    border: 2px solid #c22317;
    border-radius: 6px;
    cursor: default;
}

span.FoodsPanel__edit-foods--done-link {
    padding: 0 0 0 4px;
    margin: 0;
    font-size: 15px;
    color: #07961E;
    text-decoration: underline;
}

span.FoodsPanel__edit-foods--done-link:hover {
    color: #067D19;
    text-decoration: none;
}

.FoodsPanel__header {
    padding: 9px 28px;
    border-radius: 8px;
}

.FoodsPanel__header--macros {
    margin-left: 434px;
}

.FoodsPanel__header--macros img {
    max-height: 26px;
    margin-right: 100px;
}

.FoodsPanel__header--macros img:last-child {
    margin: 0;
}

.FoodItem {
    border-bottom: 1px solid #b5c4b7;
    padding: 18px 30px 18px 23px;
}

.FoodItem__link {
    color: #003300;
}

.FoodItem__link:hover {
    color: #08ae23;
    cursor: pointer;
    text-decoration: none;
}

.FoodItem img {
    width: 25px;
    margin-right: 40px;
}

.FoodItem span {
    position: relative;
    top: 1px;
}

.CreateFoodView__form {
    margin-top: 20px;
}

.CreateFoodView__form label {
    margin: 0 0 3px 10px;
}

.CreateFoodView__form input {
    display: block;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 36px;
    width: 50%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.CreateFoodView__form input:focus {
    border-color: #08ae23;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.CreateFoodView__form input#servingsize {
    width: 25%;
}

.CreateFoodView__nutrition-separator {
    display: block;
    margin: 50px 0 26px 80px;
    font-weight: bold;
}

.CreateFoodView__nutrition-separator:before {
    display: block;
    width: 70px;
    content: "";
    border-top: 3px solid #003300;
    position: relative;
    top: 14px;
    right: 78px;
}

.CreateFoodView__nutrition-separator:after {
    display: block;
    width: 90%;
    content: "";
    border-top: 3px solid #003300;
    position: relative;
    bottom: 13px;
    left: 98px;
}

.CreateFoodView__inputgroup {
    width: 50%;
    float: left;
    margin-bottom: 40px;
}

.CreateFoodView__input img {
    width: 100%;
}

.CreateFoodView__input--image {
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    position: relative;
    top: 29px;
    margin-right: 18px;
}

.CreateFoodView__input input {
    width: 65%;
}

.FoodItem__food {
    width: 310px;
    height: 90px;
    display: table;
    float: left;
}

.FoodItem__food .FoodItem__food--info {
    display: table-cell;
    vertical-align: middle;
}

.FoodItem__food span {
    display: block;
    line-height: 20px;
}

.FoodItem__food--quantity {
    font-size: 13px;
    color: #8b9b8b;
}

.FoodItem__macros {
    margin-left: 46px;
}

.FoodItem__macros,
.FoodItem__calories {
    position: relative;
    top: 8px;
}

.FoodItem__macros span:last-child {
    margin: 0;
}

.FoodItem__macros {
    display: block;
    float: left;
    width: 400px;
}

.FoodItem__macros span {
    width: 33px;
    display: inline-block;
    text-align: center;
    margin-right: 98px;
}

.FoodItem__calories {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.AddableFoodItem .FoodItem__food {
    display: table;
    height: 40px;
}

.AddableFoodItem .FoodItem__food--name {
    display: table-cell;
    vertical-align: middle;
}

.AddableFoodItem {
    border-bottom: 1px solid #b5c4b7;
    padding: 17px 30px;
}

.AddableFoodItem:hover {
    background-color: #fafafa;
    cursor: pointer;
}

.AddableFoodItem .ServingSelect,
.AddableFoodItem .ItemDeleteButton {
    margin: 18px 0 0 74px;
}

.FoodsPanel__cancel-link {
    display: block;
    position: fixed;
    bottom: 0%;
    width: 100%;
    background: white;
    padding: 22px 0;
    border-top: 1px solid #b5c4b7;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.03);
    z-index: 1;
}

.FoodsPanel__cancel-link a {
    color: #c22317;
    text-decoration: none;
}

.FoodsPanel__cancel-link {
    margin-right: 30px;
}

.cancel-link,
.cancel-link:hover {
    color: #c22317;
}

.CreateFoodView__submit-button .MyGoals__submit-button {
    background-color: #08ae23;
    color: white;
    padding: 12px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

.CreateFoodView__submit-button:hover .MyGoals__submit-button:hover {
    background-color: #039b1c;
}

#ServingSelect {
    animation-duration: 0.7s;
    -moz-animation-duration: 0.7s;
}

.addable-item__plus {
    float: left;
    width: 36px;
    margin-right: 38px;
    position: relative;
    top: 3px;
}

.ServingSelect input {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 36px;
    width: 60px;
    padding: 0 10px;
    text-align: center;
}

.ServingSelect input:focus {
    border-color: #08ae23;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.ServingSelect select {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 36px;
    width: auto;
    padding: 0 10px;
    margin: 0 16px 0 8px;
}

.ServingSelect select:focus {
    border-color: #08ae23;
}

.ItemDeleteButton {
    cursor: pointer;
    background: #c22317;
    padding: 8px 24px;
    border-radius: 6px;
    color: white;
    width: 40%;
}

.ItemDeleteButton:hover {
    background-color: #B22015;
}

.Consumption {
    margin-bottom: 60px;
}

.Consumption__header {
    background-color: #eeeeee;
    padding: 9px 28px;
    border-radius: 8px;
}

.Consumption__header--name {
    font-weight: bold;
    font-size: 17px;
    position: relative;
    top: 2px;
    display: inline-block;
    width: 360px;
}

.Consumption__header--macros img {
    max-height: 26px;
    margin-right: 100px;
}

.Consumption__header--macros img:last-child {
    margin: 0;
}

.Consumption__header--caloriesTotal {
    font-size: 22px;
    font-weight: bold;
    float: right;
    position: relative;
    bottom: 2px;
}

.Consumption__header--caloriesTotal img {
    max-height: 26px;
    margin: 0;
}

.ConsumptionItem {
    height: 90px;
    padding: 0 30px;
}

.ConsumptionItem {
    border-bottom: 1px solid #b5c4b7;
}

.ConsumptionItem__food {
    width: 310px;
    height: 90px;
    display: table;
    float: left;
}

.ConsumptionItem__food .ConsumptionItem__food--info {
    display: table-cell;
    vertical-align: middle;
}

.ConsumptionItem__food span {
    display: block;
    line-height: 20px;
}

.ConsumptionItem__food--quantity {
    font-size: 13px;
    color: #8b9b8b;
}

.ConsumptionItem__macros {
    margin-left: 46px;
}

.ConsumptionItem__macros,
.ConsumptionItem__calories {
    position: relative;
    top: 32px;
}

.ConsumptionItem__macros {
    display: block;
    float: left;
    width: 400px;
}

.ConsumptionItem__macros span {
    width: 33px;
    display: inline-block;
    text-align: center;
    margin-right: 98px;
}

.ConsumptionItem__macros span:last-child {
    margin: 0;
}

.ConsumptionItem__calories {
    float: right;
    font-size: 18px;
    font-weight: bold;
}

.ConsumptionItem__edit {
    width: 18px;
    margin-right: 38px;
    position: relative;
    top: 34px;
    visibility: hidden;
}

.ConsumptionItem:hover .ConsumptionItem__edit {
    visibility: visible;
}

.ConsumptionItem__edit
.ConsumptionItem__save {
    float: left;
    cursor: pointer;
}

.ConsumptionItem__save {
    width: 26px;
    margin-right: 30px;
    position: relative;
    top: 34px;
    right: 6px;
}

.ConsumptionItem.editing:hover {
    background-color: white;
}

.ConsumptionItem.editing {
    height: 150px;
    border-bottom-color: #08ae23;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.AddFoodItem {
    border-bottom: 1px solid #b5c4b7;
    padding: 18px 30px 18px 23px;
}

.AddFoodItem__link {
    color: #003300;
}

.AddFoodItem__link:hover {
    color: #08ae23;
    cursor: pointer;
    text-decoration: none;
}

.AddFoodItem img {
    width: 25px;
    margin-right: 40px;
}

.AddFoodItem span {
    position: relative;
    top: 1px;
}

.ServingSelect__add-button,
.ServingSelect__remove-button {
    background-color: #08ae23;
    color: white;
    padding: 6px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-right: 30px;
}

.ServingSelect__remove-button {
    background-color: white;
    color: #c22317;
    text-decoration: underline;
}

.ServingSelect__remove-button:focus {
    outline: none;
}

.ServingSelect__add-button {
    background-color: #039b1c;
}

.ServingSelect__remove-button:hover {
    text-decoration: none;
}

.AddableFoodItem .ServingSelect .ServingSelect__remove-button {
    display: none;
}

.ConsumptionItem .ServingSelect .ServingSelect__add-button {
    display: none;
}

.DaySelect {
    width: 300px;
    position: relative;
    float: left;
}

.DaySelect__arrow {
    width: 18px;
    height: 30px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 8px;
}

.DaySelect__arrow.left {
    margin-right: 26px;
    background: url("resources/left-arrow-icon.png") left no-repeat;
    background-size: 90%;
}

.DaySelect__arrow.right {
    margin-left: 26px;
    background: url("resources/right-arrow-icon.png") left no-repeat;
    background-size: 90%;
}

.DaySelect__choose {
    cursor: pointer;
}

.DaySelect__calendar {
    width: 46px;
    height: 50px;
    background: url("resources/calendar-icon.png") left no-repeat;
    background-size: 100%;
    display: inline-block;
}

.DaySelect__dayText {
    font-size: 18px;
    position: relative;
    bottom: 16px;
    padding-left: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.DayPicker {
    position: absolute;
    top: -8px;
    left: 40px;
    background: white;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    z-index: 1;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.15);
}

.DayPicker-Day {
    text-align: center !important;
    outline: none !important;
}

.content-container.LoginView_form {
    margin-top: 20px;
}

.LoginView_form {
    margin-top: 40px;
}

.LoginView_form h2 {
    text-align: center;
    font-weight: bold;
    color: #222722;
}

.LoginView_form form {
    width: 40%;
    margin: 40px auto;
}

.LoginView_form form label {
    margin-bottom: 3px;
}

.LoginView_form form button {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-color: #08ae23;
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.LoginView_form form button:hover {
    background-color: #039b1c;
}

.LoginView_form form input {
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: #222722;
    display: block;
    width: 100%;
    padding: 6px 14px;
}

.LoginView_form form input:focus {
    border-color: #08ae23;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.LoginView_form--switch {
    display: block;
    text-align: center;
}

.LoginView_form--switch span {
    color: #079b1f;
    text-decoration: underline;
    cursor: pointer;
}

.LoginView_form--switch span:hover {
    text-decoration: none;
}

.LoginView__notify {
    display: block;
    width: 70%;
    margin: 20px auto;
    padding: 20px 0 20px 30px;
    border-radius: 5px;
    color: #222722;
}

.LoginView__error {
    background-color: rgba(191, 35, 23, 0.1);
    border: 2px solid #c22317;
}

.MyGoals__form--input {
    width: 25%;
    float: left;
}

.MyGoals__form label {
    margin: 0 0 3px 10px;
}

.MyGoals__form input {
    display: block;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    height: 36px;
    width: 80%;
    padding: 0 10px;
    margin-bottom: 20px;
}

.MyGoals__form input:focus {
    border-color: #08ae23;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.05);
}

.MyGoals__form button {
    margin-top: 25px;
}

.MyGoals__form button.saving {
    background-color: #BDBDBD;
    cursor: default;
}

.MyGoals__form--save-success {
    color: #056E46;
}

#save-success-message {
    animation-duration: 1.8s;
    -moz-animation-duration: 1.8s;
}

.ActivityInput {
    margin-bottom: 70px;
}

.ActivityInput img {
    width: 40px;
    margin-right: 10px;
}

.ActivityInput span {
    font-size: 20px;
    position: relative;
    top: 3px;
}

span.ActivityInput__calsLabel {
    font-size: 24px;
    color: #767676;
    position: relative;
    top: 0;
}

span.ActivityInput__calsLabel.active {
    color: #070000;
}

.ActivityInput input {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid #98a299;
    width: 60px;
    text-align: center;
    margin-left: 10px;
    font-size: 24px;
}

.ActivityInput input.active {
    border-color: #08ae23;
}

.NetCalories {
    padding: 0;
    color: #222722;
    height: 126px;
}

.NetCalories__number {
    font-size: 44px;
    font-weight: bold;
    padding-right: 18px;
}

.NetCalories__label {
    position: relative;
    bottom: 9px;
}

.NetCalories__equation {
    display: block;
    width: 100%;
}

.NetCalories__number.food {
    color: #c22317;
}

.NetCalories__number.exercise {
    color: #08ae23;
}

.NetCalories__number.net {
    font-size: 54px;
    float: right;
    padding: 0;
}


.NetCalories__minusSign,
.NetCalories__equals {
    font-size: 54px;
    font-weight: bold;
    padding: 0 34px;
}

.NetCalories__equals {
    padding: 0 0 0 56px;
}

.NetCalories__goalDifference {
    display: block;
    float: right;
    font-weight: bold;
    font-size: 30px;
    position: relative;
}

.NetCalories__goalDifference.under {
    color: green;
}

.NetCalories__goalDifference.over {
    color: #c22317;
}

.header {
    border-bottom: 1px solid #b5c4b7;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.03);
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: white;
    z-index: 999;
}

.header-container {
    min-width: 900px;
    min-height: 50px;
}

.header nav {
    width: 60%;
    float: right;
    text-align: right;
    position: relative;
    top: 11px;
}

.header nav a {
    margin-right: 100px;
    color: #003300;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: none;
    color: #08ae23;
}

.DayView__caloriesGoal {
    float: right;
    font-size: 20px;
    color: #6c6c6c;
}

.DayView__caloriesGoal a {
    text-decoration: underline;
    color: #2F822F;
}

.DayView__caloriesGoal a:hover {
    text-decoration: none;
}